.f {
    height: 300vh;
    font-family: "bord";
    margin-top: 50%;
  }
  
  .about-agency {
    font-size: 4vw;
    font-weight: bold;
    position: absolute;
    left: 10%;
    margin-top: 5%;
    color: #ff0095;
  }
  
  .agency {
    position: absolute;
    margin-top: 75%;
    left: 20%;
    font-size: 17vw;
    color: #ff0095;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .agen {
    top: 1050px;
    width: 90%;
    height: 0;
    padding-bottom: 50.625%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    background-color: #DDFFF7;
  }
  
  .agency-vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #93E1D8;
  }
  
  .texxt-area {
    position: relative;
    margin-top: 20px;
  }
  
  .Button-pos {
    position: relative;
    top: 10px;
    left: 50px;
    border-radius: 28px;
    border: 2px dotted #FFA69E;
    display: inline-block;
    cursor: pointer;
    color: #ff0095;
    font-family: "nanu";
    font-size: 1.1vw;
    padding: 20px 15px;
    text-decoration: none;
  }
  
  .Button-pos:hover {
    background-color: #FFA69E;
    color: white;
    border: none;
  }
  
  .about-text {
    position: relative;
    font-family: "nanu";
    font-size: 1.1vw;
    font-weight: 200;
    text-align: left;
    float: right;
    right: 30px;
    top: -40px;
    color: #ff0051;
  }